* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav ul,
section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin: 15px auto 80px;
    padding: 1% 0;
}

header {
    background: #1f2937;
    color: #fff;
    padding: 15px 0;
}

nav ul {
    display: flex;
    gap: 20px;
    color: #fff;
}

.headingImage {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.headingImage img {
    max-height: 230px;
}

.headingDetail {
    display: flex;
    padding: 4% 0;
    margin: 0 auto;
}

.headingDetail, nav, section ul, article h2, article p, aside {
    width: 50%;
    margin: 0 auto;

}

.headingInfo {
    text-align: left;
    flex: 1;
}

button {
    background: #3b82f6;
    padding: 3px 12px;
    border-radius: 5px;
}

.headingDetail button {
    color: #fff;
    border: 1px solid #3b82f6;
}

.headingInfo h1 {
    font-size: 55px;
}

.headingInfo p {
    margin: 8px 0;
}

section ul {
    display: flex;
    gap: 5px;
}

section img {
    border-radius: 9px;
    max-height: 200px;
    max-width: 304px;
    border: 2px solid blue;
}

section {
    background: white;
    margin-bottom: 40px;
}

section h2 {
    margin: 20px 0;
}

section p {
    font-size: 13px;
    width: 59%;
    margin: 0 auto;
}

article {
    background: #e5e7eb;
    padding: 46px;
    padding: 50px 0;
    margin-bottom: 30px;
}

article h2 {
    text-align: left;
    font-style: italic;
    font-weight: 100;
}

article p {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}

aside {
    display: flex;
    text-align: initial;
    justify-content: center;
    gap: 40px;
    background: #3b82f6;
    color: #fff;
    padding: 22px 5px;
    justify-content: space-around;
}


aside button {
    color: #fff;
    border: 2px solid #fff;
}

footer {
    margin-top: 30px;
    background: #1f2937;
    padding: 2%;
    color: #fff;
}

.logo img {
    width: 36px;
    height: 24px;
    border-radius: 50%;
}

nav a{
    color: #fff;
    text-decoration: none;
}